@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');

.Header {
  display: flex;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-bottom: 1px solid white;
  justify-content: center;
  &__link {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    &:hover {
      text-shadow: 0 0 5px white;
    }
    &_active {
      text-shadow: 0 0 9px white;
      font-weight: bold;
    }
  }
  &__list {
    width: 70vw;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    &_logo {
      width: 40px;
      height: 40px;
      transition: height 0.4s, width 0.4s;
      &:hover {
        width: 50px;
        height: 50px;
      }
      &_wrapper {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &_item {
      text-align: center;
      font-family: 'MuseoModerno', cursive;
      padding: 0 10px;
      transition: text-shadow 0.3s;
      &:last-child {
        margin-right: 0;
      }


    }
  }
}