@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');

.Preloader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'MuseoModerno', cursive;
  &__header {
    text-align: center;
    color: white;

    font-size: 3em;
  }
  &__btn {
    width: 30vw;
    height: 10vw;
    border-radius: 5vw;
    background-color: #8ff9a4;
    cursor: pointer;
    font-family: 'MuseoModerno', cursive;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    &:active {
      outline: none;
      background-color: #2c5336;
      color: white;
    }

  }
}