@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200&display=swap');

.GameWindow {
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: larger;
  font-family: 'MuseoModerno', cursive;
}